
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<ViewCategory>

<div class="container mt-5 shadow" style="background-color:white">

    <div class="d-flex d-flex justify-content-between  py-3 mb-4">
        <h4 class="fw-bold">
            <span class="text-muted fw-light">Kategori Yönetimi /</span> Kategoriler
        </h4>

        <a asp-area="Admin" asp-controller="Category" asp-action="Add" class="icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
            <i class="bi fa-solid fa-square-plus" aria-hidden="true"><use xlink:href="#clipboard"></use></i>
            Kategori Ekle
        </a>

    </div>

    <table id="categoriesTable" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>İsim</th>
                <th>Oluşturulma Tarihi</th>
                <th>Oluşturan</th>
                <th>Durum</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr name="@category.Id">
                    <td>@category.Name</td>
                    <td>@category.CreatedDate</td>
                    <td>@category.CreatedBy</td>
                    <td>@(category.IsDeleted ? "Aktif Değil" : "Aktif")</td>
                    <td>
                        <a class="btn btn-primary btn-sm" data-id="@category.Id" asp-area="Admin" asp-controller="Category" asp-action="Update" asp-route-categoryId="@category.Id">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a class="btn btn-danger btn-sm" data-id="@category.Id" asp-area="Admin" asp-controller="Category" asp-action="Delete" asp-route-categoryId="@category.Id">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>İsim</th>
                <th>Oluşturulma Tarihi</th>
                <th>Oluşturan</th>
                <th>Durum</th>
                <th>İşlemler</th>
            </tr>
        </tfoot>
    </table>
</div>


@section Scripts {
    <script>
        new DataTable('#categoriesTable');
    </script>
}
